# List of devices connected to Adafruit FT232H
[[DeviceList]]
  Name = "GasSensor"
  ProfileName = "BME680"
  Description = "BME680 Gas sensor connected to FT232H over I2C"
  # Labels = [ "industrial" ]
  [DeviceList.Protocols]
  [DeviceList.Protocols.i2c]
    Address = "0x76"
  [[DeviceList.AutoEvents]]
    Interval = "5s"
    OnChange = false
    SourceName = "ReadAll"

[[DeviceList]]
  Name = "Fan"
  ProfileName = "FanController"
  Description = "Fan connected to FT232H's GPIO"
  # Labels = [ "industrial" ]
  [DeviceList.Protocols]
  [DeviceList.Protocols.gpio]
    Pin = "C0"

